:root{
    --blue: blue;
    --red: red;
    --yellow: yellow;
    --purple: purple;
    --white: white;
    --pink: pink;
    --orange: orange;
    --green: green;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 20px;
    background-color: #CFCFCF;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    text-transform: uppercase;
}

.kocka {
    width: 45px;
    height: 45px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10%;
}

#valasz {
    margin-top: 0px;
}

.terulet {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 10px;
    padding-bottom: 0px;
    height: fit-content;

    position: absolute;
    top: 60px;
    left: 700px;
}

.terulet, #valasz {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#megfejtes {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
#megfejtes .kocka{
    font-size: 2em;
    position:relative;
    padding-left: 14px;
}

.sor {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.sor {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: relative;
}

.aktualis-sor {
    outline: 2px solid rgb(128, 128, 128);
    outline-offset: 5px;
    position: relative;
    box-shadow: 0 0 0 5px transparent;
    border-radius: 2px;
}

.potty {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
}

.szinozon {
    display: flex;
    justify-content: space-around;
}

.szinek {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #D9D9D9;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    /* margin-top: 20px; */
    height: max-content;
    position: absolute;
   left: 500px;
   top: 150px;
}

.info {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding: 10px 100px 10px 10px;
    /* margin-right: 100px;
    margin-top: 100px; */
    display: flex;
    flex-direction: column;
    border: 1px solid #E7E7E7;
    border-radius: 5%;
    background-color: #E7E7E7;

    position: absolute;
    right: 425px;
    top: 150px;
}

.info p {
    display: flex;
    padding-left: 10px;
    padding-bottom: 20px;
}

.info button {
    margin-left: 50%;
    font-size: 15px;
    background-color: #B7B7B7;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.info button:hover {
    cursor: pointer;
    color: rgb(197, 197, 197);
    background-color: rgb(51, 51, 51);
}

.cim {
    margin: 20px 0;
    font-size: 35px;
    text-align: center;
}

.szurke-hatter {
    border: 0px solid black;
    border-radius: 5px;
    background-color: #D9D9D9;
    padding: 20px 10px;
}

.keret {
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 20%;
    background-color: #D9D9D959;
}

.beallitasok-nyelv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
}

.beallitasok-nehezseg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    margin-top: 30px;
}

.beallitasok-beszed {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-top: 30px;
}

.beallitasok-szintevesztes {
    margin: 10px;
    margin-top: 30px;
}

.colormode {
    display: flex;
    justify-content: space-between;
}

.appear {
    margin: 20px 150px;
    border: 1px solid black;
    padding-bottom: 30px;
    background-color: #e7e7e7;
}

.colors {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.szoveg {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.szinkor {
    width: 55px;
    height: 55px;
    margin: 0 10px;
    border-radius: 50%;
}

.beallitas {
    font-size: 25px;
    margin-left: 20px;
}

#nyelvek {
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    color: #1E1E1E;
    
}

.csuszka {
    /* width: 60%; */
    width: 60%;
    outline: none;
}

#csuszka-nehezseg {
    width: 600px;
    padding-right: 65px;
    padding-left: 65px;
    float: right;
}

#csuszka-beszed {
    width: 300px;
    padding-left: 55px;
    padding-right: 70px;
    float: right;
}

#csuszka-szintevesztes {
    width: 300px;
    padding-left: 55px;
    padding-right: 70px;
    float: right;
}

.ertekek {
    display: flex;
    justify-content: space-around;
    float: right;
    width: 100%;
    margin-top: 20px;
    max-width: 90%;
    font-weight: bold;
    font-size: 14px;
}

#kek {
    background-color: var(--blue);
}

#piros {
    background-color: var(--red);
}

#sarga {
    background-color: var(--yellow);
}

#lila {
    background-color: var(--purple);
}

#feher {
    background-color: var(--white);
}

#rozsaszin {
    background-color: var(--pink);
}

#narancs {
    background-color: var(--orange);
}

#zold {
    background-color: var(--green);
}