* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{background-color: beige;}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 20px;
    background-color: #ddd;
}

nav li {
    display: inline-block;
}

nav a:first-child {
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    text-transform: uppercase;
}

.kocka {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 5px;
}

#valasz {
    margin-top: 10px;
}

.terulet, #valasz {
    display: flex;
    flex-direction: column;
}

#megfejtes, .sor {
    display: flex;
    flex-direction: row;
}

.szinek {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#kek {
    background-color: blue;
}

#piros {
    background-color: red;
}

#sarga {
    background-color: yellow;
}

#lila {
    background-color: purple;
}

#feher {
    background-color: white;
    border: 1px solid black;
}

#rozsaszin {
    background-color: pink;
}

#narancs {
    background-color: orange;
}

#zold {
    background-color: green;
}

#kek.protanopia {
    background-color: blue;
}

#piros.protanopia {
    background-color: rgb(255, 100, 50);
}

#sarga.protanopia {
    background-color: yellow;
}

#lila.protanopia {
    background-color: rgb(140, 50, 230);
}

#feher.protanopia {
    background-color: white;
    border: 1px solid black;
}

#rozsaszin.protanopia {
    background-color: rgb(255, 150, 230);
}

#narancs.protanopia {
    background-color: rgb(255, 170, 80);
}

#zold.protanopia {
    background-color: rgb(0, 200, 150);
}